Checks: >
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    security-*,
    -llvm-header-guard,
    -modernize-use-trailing-return-type

# All warnings are errors
WarningsAsErrors: "*"

# Align with clang-format
FormatStyle: file
