Checks: >
    bugprone-*,
    clang-analyzer-*,
    clang-diagnostic-*,
    misc-*,
    modernize-*,
    performance-*,
    readability-*,
    security-*,
    llvm-header-guard

# All warnings are errors
WarningsAsErrors: "*"

# Align with clang-format
FormatStyle: file
